*{
    padding: 0;
    margin: 0;
}

body{
    border: 3px solid red;
}

.wrapper{
    width: 100%;
}

header ul{
    display: none;
}

header{
    background-color: #422F81;
    font-family: 'Segoe UI', Tahoma, Geneva,
    Verdana, sans-serif;
    color: #F9F7FF;
}

.heroText{
    width: 100%;
    margin: 0% auto;
    padding-left: 3%;
    padding-right: 2%;
}
header h3{
    font-weight: lighter;
    padding: 5%;
}

.Vector1{
    width: 7%;
    height: 26px;
    border-top: 3px solid #f0eff3;
    border-left: 3px solid #c4c2c9;
    position: relative;
    left: 1.5%;
    top: 42px;
} 
header h1{
    font-weight: 500;
    font-size: 250%;
    padding: 4%;
    
}

.HeroTextPara{
    font-size: 80%;
    padding:  1% 4% 4%4%;
}

.button2,
.button3{
    display: none;
}

.chatScreen{
    margin: 0% auto;
    width: 140px;
}

img{
    width: 100%;
}

.box{
    display: grid;
    height: 90px;
    width: 17%;
    border: 2px thick transparent;
    gap: 5px;
}